<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>User Registrasi</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
              th:href="@{/webjars/materializecss/0.100.2/css/materialize.min.css}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="/webjars/jquery/3.2.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
        th:src="@{/webjars/materializecss/0.100.2/js/materialize.min.js}"></script>
        <script>
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>
    </head>
    <body class="container">
         <nav>
            <div class="nav-wrapper" sec:authorize="!isAuthenticated()">
                <a href="/home" class="brand-logo">Aplikasi PLN</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/user/new">Registrasi User</a></li>
                    <li><a href="/login-form">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
               
                </ul>
            </div>
            <div class="nav-wrapper" sec:authorize="hasRole('ROLE_USER')">
                <a href="/home" class="brand-logo">Aplikasi PLN</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/pelanggan/new">Pembelian Token</a></li>
                    <li><a href="/logout">Logout</a></li>
               
                </ul>
            </div>
            <div class="nav-wrapper" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/home" class="brand-logo">Aplikasi PLN</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/user/list">List User</a></li>
                    <li><a href="/pelanggan/list">List Pelanggan</a></li>
                    <li><a href="/login-form">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
               
                </ul>
            </div>
        </nav>
        <form action="/user/new" th:action="@{/user/new}" th:object="${u}" th:method="post" method="post">
            <div class="input-field row">
                <label for="id"></label>
                <input type="hidden" name="id" id="id" th:field="*{id}" th:value="1"/>
            </div>
            <div class="input-field row">
                <label for="username">Username</label> 
                <input type="text" name="username" id="username" th:field="*{username}"/>
            </div>
            <div class="input-field row">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" th:field="*{password}"/>
            </div>
             <div class="row">
                <button type="submit" class="btn waves  -effect waves-light">
                    Register</button>
            </div>
        </form>
    </body>
</html>
