<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>Buy Again</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
              th:href="@{/webjars/materializecss/0.100.2/css/materialize.min.css}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="/webjars/jquery/3.2.1/jquery.min.js"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
        th:src="@{/webjars/materializecss/0.100.2/js/materialize.min.js}"></script>
        <script>
            $(document).ready(function () {
            $('select').material_select();
            });
        </script>
    </head>
    <body class="container">
        <form action="/pelanggan/beli" th:action="@{/pelanggan/beli}" th:object="${pln}" th:method="post" method="post">
            <div class="input-field row">
                <label for="id"></label> 
                <input type="hidden" name="id" id="id" th:field="*{id}" value="1" th:value="1"/>
            </div>
            <div class="input-field row">
                <label for="nama"></label>
                <input type="hidden" name="nama" id="nama" th:field="*{pelanggan}" th:value="${p.id}"/>
            </div>
            <div class="input-field row"> 
                <label for="token">Token</label>
                <select name="token" id="token" th:field="*{token}">
                    <option th:each="token : ${listToken}" value="1" th:value="${token.id}">
                        <span th:text="${token.nama_produk}">1</span>
                    </option>
                </select>
            </div>
            <div class="row">
                <button type="submit" class="btn waves  -effect waves-light">
                    <i class="material-icons left">hearing</i>Tambah Saldo</button>
            </div>
        </form>
    </body>
</html>

